<template>
  <v-container>
    <v-card class="mb-5" flat outlined>
      <v-card-title :class="color" class="white--text">
        <span class="headline">NUEVO EVENTO</span>
        <v-spacer></v-spacer>

        <!-- <v-spacer></v-spacer> -->
        <v-btn rounded small class="mr-2" color="blue darken-1" dark to="/panel/eventos/nuevo"
        >NUEVA DIRECCION
          <v-icon small right>mdi-city</v-icon>
        </v-btn>
        <v-btn rounded small color="blue darken-1" dark to="/panel/eventos/nuevo"
        >NUEVA PERSONA
          <v-icon small right>mdi-account</v-icon>
        </v-btn>
      </v-card-title>
      <v-form ref="formulario">
        <v-row justify="start" class="mt-0 pt-0">
          <v-col cols="12" class="my-0 py-0">
            <v-container>
              <v-card flat>
                <v-row>
                  <!-- DATOS DEL EVENTO -->
                  <v-col cols="12" class="px-5">
                    <span class="blue--text font-weight-bold headline">Datos del Evento</span>
                    <v-divider class="blue darken-2"></v-divider>
                  </v-col>
                  <v-col cols="12" md="2" class="px-5">
                    <v-menu
                        ref="menu"
                        v-model="menu"
                        min-width="290"
                        :close-on-content-click="false"
                        transition="scale-transition"
                        offset-y
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                            v-model="formulario.fecha"
                            label="Fecha *"
                            prepend-icon="mdi-calendar"
                            readonly
                            v-bind="attrs"
                            :rules="[rules.required]"
                            placeholder="Requerido"
                            v-on="on"
                        ></v-text-field>
                      </template>
                      <v-date-picker
                          v-model="formulario.fecha"
                          no-title
                          @input="menu1 = false"
                          locale="es"
                      >
                      </v-date-picker>
                    </v-menu>
                  </v-col>
                  <v-col md="2" sm="12" class="px-5">
                    <v-menu
                        ref="menu2"
                        v-model="menu2"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        :return-value.sync="formulario.hora"
                        transition="scale-transition"
                        offset-y
                        max-width="290px"
                        min-width="290px"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                            v-model="formulario.hora"
                            label="Hora *"
                            prepend-icon="mdi-clock"
                            readonly
                            v-bind="attrs"
                            v-on="on"
                        ></v-text-field>
                      </template>
                      <v-time-picker
                          v-if="menu2"
                          v-model="formulario.hora"
                          full-width
                          @click:minute="$refs.menu2.save(formulario.hora)"
                      ></v-time-picker>
                    </v-menu>
                  </v-col>
                  <v-col cols="10" md="6" class="px-5">
                    <v-autocomplete
                        v-model="formulario.direccion_id"
                        :items="cat_direcciones"
                        label="Dirección del Evento *"
                        item-text="direccion_label"
                        item-value="id"
                        :rules="[rules.required]"
                        placeholder="Requerido"
                        required
                    ></v-autocomplete>
                  </v-col>

                  <!--  DATOS DE LA VÍCTIMA -->
                  <v-col cols="12" class="px-5">
                    <span class="blue--text font-weight-bold headline">Datos de la Víctima</span>
                    <v-divider class="blue darken-2"></v-divider>
                  </v-col>
                  <v-col cols="10" md="4" class="px-5">
                    <v-autocomplete
                        v-model="formulario.victima_id"
                        :items="cat_personas"
                        item-value="id"
                        item-text="nombre_completo_b"
                        label="Nombre Completo *"
                        :rules="[rules.required]"
                        placeholder="Requerido"
                        required
                    ></v-autocomplete>
                  </v-col>
                  <v-col cols="6" md="3" class="px-5">
                    <v-select
                        v-model="formulario.req_canalizacion"
                        :items="cat_si_no"
                        label="¿Requirio Canalización? *"
                        :rules="[rules.required]"
                        placeholder="Requerido"
                        required
                    ></v-select>
                  </v-col>
                  <v-col cols="6" md="3" class="px-5">
                    <v-select
                        v-model="formulario.instancia_canalizada_id"
                        :items="cat_si_no"
                        label="Instancia Canalizada"
                        :rules="[rules.required]"
                        placeholder="Requerido"
                        required
                    ></v-select>
                  </v-col>

                  <!-- DATOS DE LA VIOLENCIA -->
                  <v-col cols="12" class="px-5">
                    <span class="blue--text font-weight-bold headline">Datos de la Violencia </span>
                    <v-divider class="blue darken-2"></v-divider>
                  </v-col>
                  <v-col cols="12" md="4" class="px-5">
                    <v-select
                        v-model="formulario.violencia_id"
                        :items="cat_tipos_violencias"
                        label="Tipo de Violencia *"
                        :rules="[rules.required]"
                        item-text="nombre"
                        item-value="id"
                        placeholder="Requerido"
                        required
                    ></v-select>
                  </v-col>
                  <v-col cols="12" md="3" class="px-5">
                    <v-select
                        v-model="formulario.parentesco_id"
                        :items="cat_parentescos"
                        label="Parentesco de la Victima con el Agresor *"
                        :rules="[rules.required]"
                        item-text="nombre"
                        item-value="id"
                        placeholder="Requerido"
                        required
                    ></v-select>
                  </v-col>
                  <v-col cols="12" md="2" class="px-5">
                    <v-select
                        v-model="formulario.bajo_efectos"
                        :items="cat_si_no"
                        label="¿Sustancias Nocivas?"
                        :rules="[rules.required]"
                        placeholder="Requerido"
                        required
                    ></v-select>
                  </v-col>
                  <v-col cols="12" md="2" class="px-5">
                    <v-select
                        v-model="formulario.sustancia_toxica_id"
                        :items="cat_si_no"
                        label="Sustancias Nocivas"
                        disabled
                        :rules="[rules.required]"
                        placeholder="Requerido"
                        required
                    ></v-select>
                  </v-col>
                  <v-col cols="12" md="3" class="px-5">
                    <v-select
                        v-model="formulario.instrumento"
                        :items="cat_si_no"
                        label="¿Utilizo algún Instrumento?"
                        :rules="[rules.required]"
                        placeholder="Requerido"
                        required
                    ></v-select>
                  </v-col>
                  <v-col cols="12" md="3" class="px-5">
                    <v-text-field
                        disabled
                        v-model="formulario.intrumento_utilizado"
                        label="Instrumento *"
                        :rules="[rules.required]"
                        placeholder="Requerido"
                        required
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="3" class="px-5">
                    <v-select
                        v-model="formulario.frecuencia_violencia"
                        :items="cat_frecuencia"
                        label="Frecuencia de la Agresión"
                        :rules="[rules.required]"
                        placeholder="Requerido"
                        required
                    ></v-select>
                  </v-col>

                  <!-- DATOS DEL AGRESOR -->
                  <v-col cols="12" class="px-5">
                    <span class="blue--text font-weight-bold headline">Datos del Agresor</span>
                    <v-divider class="blue darken-2"></v-divider>
                  </v-col>
                  <v-col cols="10" md="4" class="px-5">
                    <v-autocomplete
                        v-model="formulario.agresor_id"
                        :items="cat_personas"
                        item-value="id"
                        item-text="nombre_completo_b"
                        label="Nombre Completo *"
                        :rules="[rules.required]"
                        placeholder="Requerido"
                        required
                    ></v-autocomplete>
                  </v-col>
                  <v-col cols="6" md="3" class="px-5">
                    <v-select
                        v-model="formulario.detenido"
                        :items="cat_si_no"
                        label="¿Fue detenido? *"
                        :rules="[rules.required]"
                        placeholder="Requerido"
                        required
                    ></v-select>
                  </v-col>
                  <v-col cols="6" md="3" class="px-5">
                    <v-select
                        v-model="formulario.autoridad_canalizada_id"
                        :items="cat_si_no"
                        label="Autoridad Canalizada"
                        :rules="[rules.required]"
                        placeholder="Requerido"
                        required
                    ></v-select>
                  </v-col>

                  <!-- DATOS ADICIONALES -->
                  <v-col cols="12" class="px-5">
                    <span class="blue--text font-weight-bold headline">Narrativa y Evidencias</span>
                    <v-divider class="blue darken-2"></v-divider>
                  </v-col>
                  <v-col cols="12" class="px-5">
                    <v-textarea
                        outlined
                        no-resize
                        name="narrativa"
                        v-model="formulario.narrativa"
                        label="Narrativa"
                        placeholder="Descripción de los Hechos"
                        counter="255"
                    ></v-textarea>
                  </v-col>
                  <v-col cols="12" class="px-5">
                    <v-file-input
                        v-model="formulario.archivos"
                        multiple
                        small-chips
                        label="Subir Evidencias (opcional)"
                        prepend-icon="mdi-paperclip"
                    >
                      <template v-slot:selection="{ text }">
                        <v-chip small label color="primary">
                          {{ text }}
                        </v-chip>
                      </template>
                    </v-file-input>
                  </v-col>
                </v-row>
              </v-card>
            </v-container>
          </v-col>
        </v-row>
      </v-form>
      <v-card-actions>
        <BtnBackComponent/>
        <v-spacer></v-spacer>

        <v-btn
            color="blue lighten-1"
            :loading="loading"
            dark
            rounded
            @click="registrar"
            class="ma-2 white--text"
        >
          GUARDAR
          <v-icon right dark>mdi-content-save</v-icon>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-container>
</template>

<script>
import {mapState, mapActions} from 'vuex';
import BtnBackComponent from '../../components/utils/BtnBackComponent';

export default {
  components: {
    BtnBackComponent,
  },
  data() {
    return {
      genero: ['No especificado', 'Hombre', 'Mujer'],
      cat_si_no: ['Si', 'No'],
      cat_frecuencia: ['Diario', 'Semanal', 'Mensual'],
      rules: {
        required: (v) => !!v || 'Campo requerido *',
      },
      loading: false,
      menu: false,
      menu2: false,
      formulario: {
        fecha: null,
        hora: null,
        direccion_id: null,
        victima_id: null,
        req_canalizacion: null,
        instancia_canalizada_id: null,
        violencia_id: null,
        parentesco_id: null,
        bajo_efectos: null,
        sustancia_toxica_id: null,
        instrumento: null,
        intrumento_utilizado: null,
        frecuencia_violencia: null,
        agresor_id: null,
        detenido: null,
        autoridad_canalizada_id: null,
        tipo: 'Web',
        narrativa: null,
        archivos: null,
      },
      responseData: null,
    };
  },
  computed: {
    ...mapState([
      'color',
      'cat_personas',
      'cat_parentescos',
      'cat_tipos_violencias',
      'cat_direcciones',
      'cat_instancias',
      'cat_autoridades',
    ]),
  },
  beforeMount() {
    if (this.cat_personas.length === 0) {
      this.getListaPersonas();
    }
    if (this.cat_autoridades.length === 0) {
      this.getAutoridades();
    }
    if (this.cat_instancias.length === 0) {
      this.getInstancias();
    }
    if (this.cat_direcciones.length === 0) {
      this.getListaDirecciones();
    }
    if (this.cat_parentescos.length === 0) {
      this.getParentescos();
    }
    if (this.cat_tipos_violencias.length === 0) {
      this.getTiposViolencia();
    }
  },
  methods: {
    ...mapActions(['getListaPersonas', 'getParentescos', 'getTiposViolencia', 'getListaDirecciones', 'getInstancias', 'getAutoridades']),
    limpiarFormulario() {
      for (const item in this.Formulario) {
        this.Formulario[item] = null;
      }
      this.$refs.formulario.resetValidation();
    },
    async registrar() {
      if (this.$refs.formulario.validate()) {
        this.loading = true;
        const registro = await this.getRegistrarUsuario(this.formulario);
        this.loading = !registro;
        this.limpiarFormulario();
        setTimeout(() => {
          this.$router.go(-1);
        }, 1500);
      }
    },
  },
};
</script>
