<template>
        <v-main class="bg-fondo">
            <v-container fluid>
                <v-row align="center" justify="center" style="height:90vh;">
                    <v-col cols="12" md="4" sm="6">
                        <v-card class="elevation-10">
                            <v-card-text class="text-center">
                                <img src="../assets/logoOficial.jpeg" width="100%" class="mb-5" />
                                <v-form ref="form" v-model="valid" lazy-validation >
                                    <v-alert v-if="alertError" outlined dense :type="colorError" class="text-center">
                                        {{ mensaje }}
                                    </v-alert>
                                    <v-text-field
                                        label="Usuario"
                                        name="Usuario"
                                        :rules="[rules.required]"
                                        prepend-icon="mdi-account"
                                        type="text"
                                        required
                                        v-model="username"
                                    ></v-text-field>
                                    <v-text-field
                                        id="password"
                                        label="Contraseña"
                                        name="password"
                                        required
                                        prepend-icon="mdi-lock"
                                        type="password"
                                        :rules="[rules.required]"
                                        v-model="password"
                                    ></v-text-field>
                                </v-form>
                                <!-- <div class="justify-content-end">
                                    <span class="text-end d-block"
                                        ><a href="/password/reset" target="_blank"> ¿Olvidaste tu contraseña?</a></span
                                    >
                                </div> -->
                            </v-card-text>
                            <v-card-actions>
                                <v-btn block color="primary" :loading="loading" @click="validar">Iniciar sesión</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-col>
                    <v-col cols="12" class="text-center white--text title">
                        &reg; General DataComm | {{ year }}
                    </v-col>
                </v-row>
            </v-container>
        </v-main>

</template>

<script>
    import { mapActions } from 'vuex';
    export default {
        name: 'Login',
        data() {
            return {
                valid: true,
                loading: false,
                mensaje: '',
                alertError: false,
                colorError: null,
                username: 'damonbalam@gmail.com',
                password: '123123',
                rules: {
                    required: (v) => !!v || 'Campo requerido *',
                },
            };
        },
        computed: {
            year() {
                return new Date().getFullYear();
            },
        },
        methods: {
            ...mapActions(['getIniciarSesion']),
             validar() {
                if (this.username && this.password) {
                    
                    this.loading = true;

                   this.getIniciarSesion({
                        email: this.username,
                        password: this.password,
                        remember_me: true,
                    });

                } else if (this.$refs.form.validate()) {
                    this.loading = false;
                }
            },
        },
    };
</script>
<style scoped>
.bg-fondo{
    background-image: url('../assets/slashes2.png');
    background-repeat: repeat;
}
</style>