<template>
    <v-container>
        <SideBarComponent :color="color"/>
        <NavBarComponent  :color="color"/>
        <SnackBarComponent/>
        <v-main>
            <router-view :key="$route.path"></router-view>
        </v-main>
    </v-container>
</template>

<script>
    import { mapState } from 'vuex';
    import NavBarComponent from '../components/utils/NavBarComponent';
    import SideBarComponent from '../components/utils/SideBarComponent';
    import SnackBarComponent from '../components/utils/SnackBarComponent';
    export default {
        components: {
            NavBarComponent,
            SideBarComponent,
            SnackBarComponent
        },
        computed: {
            ...mapState(['color']),
        },
    };
</script>

<style lang="scss" scoped></style>
