<template>
    <v-container fluid>
        <v-card flat outlined elevation="5" max-width>
            <v-card-title :class="color" class="white--text">
                <span class="headline">LISTA DE DIRECCIONES</span>
                <v-spacer></v-spacer>
                <v-text-field
                    dark
                    v-model="buscar"
                    append-icon="mdi-magnify"
                    label="BUSCAR DIRECCIÓN"
                    single-line
                    hide-details
                    class="pt-0 white--text px-5"
                ></v-text-field>
                <v-btn rounded color="blue darken-1" dark to="/panel/configuracion/nueva-direccion"
                    >NUEVA DIRECCIÓN
                    <v-icon>mdi-chevron-right</v-icon>
                </v-btn>
            </v-card-title>
            <v-divider></v-divider>

            <v-card-text>
                <v-data-table
                    class="ma-2 pa-0"
                    :items-per-page="12"
                    hide-default-footer
                    no-data-text="No hay registros"
                    no-results-text="No se encontraron registros"
                    :page.sync="pagina"
                    @page-count="pageCount = $event"
                    :headers="headers"
                    :items="cat_direcciones"
                    :search="buscar"
                >
                    <!-- opciones -->
                    <template v-slot:item.action="{ item }">
                        <v-tooltip bottom>
                            <template v-slot:activator="{ on }">
                                <v-btn fab dark small text>
                                    <v-icon v-on="on" small color="blue">mdi-pencil</v-icon>
                                </v-btn>
                            </template>
                            <span>Modificar</span>
                        </v-tooltip>
                        <v-tooltip bottom>
                            <template v-slot:activator="{ on }">
                                <v-btn fab="" dark small text>
                                    <v-icon v-on="on" small color="red">mdi-account-off</v-icon>
                                </v-btn>
                            </template>
                            <span>Desactivar</span>
                        </v-tooltip>
                    </template>

                    <!-- codigo -->
                    <template v-slot:item.nombres="{ item }">
                        <span class="font-weight-bold">
                            {{ item.nombres + ' ' + item.apellido_paterno + ' ' + item.apellido_materno }}</span
                        >
                    </template>
                </v-data-table>
            </v-card-text>
        </v-card>
    </v-container>
</template>

<script>
    import { mapState, mapActions } from 'vuex';
    export default {
        name: 'Direcciones',
        data() {
            return {
                buscar: '',
                pagina: 1,
                pageCount: 0,
                expanded: [],
                singleExpand: false,
                headers: [
                    {
                        text: 'CALLE',
                        align: 'left',
                        sortable: false,
                        value: 'calle',
                        width: '20%',
                    },
                    {
                        text: 'NÚMERO EXTERIOR',
                        align: 'left',
                        sortable: false,
                        value: 'numero_exterior',
                        width: '10%',
                    },
                    {
                        text: 'C.P',
                        align: 'left',
                        sortable: false,
                        value: 'colonia.codigo_postal',
                        width: '5%',
                    },
                    {
                        text: 'COLONIA',
                        align: 'center',
                        sortable: false,
                        value: 'colonia.nombre',
                        width: '10%',
                    },
                    {
                        text: 'LOCALIDAD',
                        align: 'center',
                        sortable: false,
                        value: 'localidad.nombre',
                        width: '10%',
                    },
                    {
                        text: 'MUNICIPIO',
                        align: 'center',
                        sortable: false,
                        value: 'municipio.nombre',
                        width: '10%',
                    },
                    {
                        text: 'ENTIDAD',
                        align: 'center',
                        sortable: false,
                        value: 'entidad.nombre',
                        width: '10%',
                    },
                    {
                        text: 'OPCIONES',
                        value: 'action',
                        sortable: false,
                        align: 'right',
                        width: '10%',
                    },
                ],
            };
        },
        computed: {
            ...mapState(['color', 'cat_direcciones']),
        },
        methods: {
            ...mapActions(['getListaDirecciones']),
        },
        beforeMount() {
            if (this.cat_direcciones.length === 0) {
                this.getListaDirecciones();
            }

            
        },
    };
</script>

<style lang="scss" scoped></style>
