<template>
  <v-container>
    <v-card class="mb-5" flat outlined>
      <v-card-title :class="color" class="white--text">
        <span class="headline">NUEVA DIRECCIÓN</span>
      </v-card-title>
      <v-form ref="formulario">
        <v-row justify="start" class="mt-0 pt-0">
          <v-col cols="12">
            <v-container fluid>
              <v-card flat>
                <v-row>
                  <v-col cols="12" class="px-5">
                    <span class="blue--text font-weight-bold headline">Datos de la Dirección</span>
                    <v-divider class="blue darken-2"></v-divider>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col md="6" sm="12" class="px-5">
                    <v-text-field
                        v-model="formulario.calle"
                        label="Nombre de la Calle/Avenida *"
                        :rules="[rules.required]"
                        placeholder="Requerido"
                        required
                    ></v-text-field>
                  </v-col>
                  <v-col md="6" sm="12" class="px-5">
                    <v-text-field
                        v-model="formulario.cruzamientos"
                        label="Cruzamientos "
                        :rules="[rules.required]"
                        placeholder="Requerido"
                        required
                    ></v-text-field>
                  </v-col>
                  <v-col md="2" sm="12" class="px-5">
                    <v-text-field
                        v-model="formulario.codigo_postal"
                        label="Código Postal *"
                        :rules="[rules.required]"
                        placeholder="Requerido"
                        @keyup="searchColonias(formulario.codigo_postal)"
                        required
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="4" class="px-5">
                    <v-select
                        v-model="formulario.colonia_id"
                        :items="cat_colonias"
                        item-value="id"
                        item-text="colonia_label"
                        label="Colonia *"
                        :rules="[rules.required]"
                        @change="searchEML(formulario.colonia_id)"
                        placeholder="Requerido"
                        required
                    ></v-select
                    >
                  </v-col>

                  <v-col md="3" sm="12" class="px-5">
                    <v-text-field
                        v-model="formulario.numero_exterior"
                        label="Número Exterior*"
                        :rules="[rules.required]"
                        placeholder="Requerido"
                        required
                    ></v-text-field>
                  </v-col>
                  <v-col md="3" sm="12" class="px-5">
                    <v-text-field
                        v-model="formulario.numero_interior"
                        label="Número Interior"
                        placeholder="Opcional"
                        required
                    ></v-text-field>
                  </v-col>
                  <v-col md="4" sm="12" class="px-5">
                    <v-select
                        
                        v-model="formulario.localidad_id"
                        label="Localidad *"
                        :items="cat_localidades"
                        item-value="id"
                        item-text="label"
                        :rules="[rules.required]"
                        placeholder="Requerido"
                        required
                    ></v-select>
                  </v-col>
                  <v-col cols="12" md="4" class="px-5">
                    <v-select
                        
                        v-model="formulario.municipio_id"
                        :items="cat_municipios"
                        label="Municipio *"
                        :rules="[rules.required]"
                        placeholder="Requerido"
                        item-value="id"
                        item-text="label"
                        required
                    ></v-select>
                  </v-col>
                  <v-col cols="12" md="4" class="px-5">
                    <v-select
                        
                        v-model="formulario.entidad_id"
                        :items="cat_entidades"
                        label="Entidad *"
                        item-value="id"
                        item-text="label"
                        :rules="[rules.required]"
                        placeholder="Requerido"
                        required
                    ></v-select>
                  </v-col>
                </v-row>
              </v-card>
            </v-container>
          </v-col>
        </v-row>
      </v-form>
      <v-card-actions>
        <BtnBackComponent/>
        <v-spacer></v-spacer>

        <v-btn
            color="blue lighten-1"
            :loading="loading"
            dark
            rounded
            @click="registrar"
            class="ma-2 white--text"
        >
          GUARDAR
          <v-icon right dark>mdi-content-save</v-icon>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-container>
</template>

<script>
import {mapState, mapActions} from 'vuex';
import BtnBackComponent from '../../components/utils/BtnBackComponent';

export default {
  name:'NuevaDireccion',
  components: {
    BtnBackComponent,
  },
  data() {
    return {
      genero: ['No especificado', 'Hombre', 'Mujer'],
      cat_si_no: ['Si', 'No'],
      cat_entidades:[],
      cat_localidades:[],
      cat_municipios:[],
      rules: {
        required: (v) => !!v || 'Campo requerido *',
      },
      loading: false,
      menu: false,
      formulario: {
        calle: null,
        cruzamientos: null,
        numero_exterior: null,
        numero_interior: null,
        codigo_postal:'',
        localidad_id: null,
        entidad_id: null,
        colonia_id: null,
        municipio_id: null,
      },
    };
  },
  beforeMount() {
  
  },
  computed: {
    ...mapState(['color', 'cat_colonias']),
  },
  methods: {
    ...mapActions(['getColoniasCP','getEML','getRegistrarDireccion']),
    limpiarFormulario() {
      for (const item in this.formulario) {
        this.formulario[item] = null;
      }
      this.$refs.formulario.resetValidation();
    },
    async registrar() {
      if (this.$refs.formulario.validate()) {
        this.loading = true;
        const registro = await this.getRegistrarDireccion(this.formulario);
        this.loading = !registro;
        this.limpiarFormulario();
        setTimeout(() => {
          this.$router.go(-1);
        }, 1500);
      }
    },
    searchColonias(cp){
      if (cp.length === 5) {
        this.getColoniasCP(cp)
      }
    },
    async searchEML(colonia_id){
      
       const res = await this.getEML(colonia_id);


       this.cat_localidades.push({id:res.localidad_id,label:res.localidad});
       this.cat_entidades.push({id:res.entidad_id,label:res.entidad});
       this.cat_municipios.push({id:res.municipio_id,label:res.municipio});

       this.formulario.localidad_id = res.localidad_id;
       this.formulario.entidad_id = res.entidad_id;
       this.formulario.municipio_id= res.municipio_id;

    }
  },
};
</script>
