<template>
  <v-container>
    <v-card class="mb-5" flat outlined>
      <v-card-title :class="color" class="white--text">
        <span class="headline">NUEVA PERSONA</span>
        <v-spacer></v-spacer>

        <!-- <v-spacer></v-spacer> -->
        <v-btn small class="mr-2" color="blue darken-1" dark to="/panel/eventos/nuevo"
        >NUEVA DIRECCION
          <v-icon small right>mdi-city</v-icon>
        </v-btn>
      </v-card-title>
      <v-form ref="formulario">
        <v-row justify="start" class="mt-0 pt-0">
          <v-col cols="12">
            <v-container fluid>
              <v-card flat>
                <v-row>
                  <v-col cols="12" class="px-5">
                    <span class="blue--text font-weight-bold headline">Datos de la Persona</span>
                    <v-divider
                        class="blue darken-2"
                    ></v-divider>
                  </v-col>

                  <v-col md="6" sm="12" class="px-5">
                    <v-text-field
                        v-model="formulario.curp"
                        label="CURP *"
                        :rules="[rules.required]"
                        placeholder="Requerido"
                        required
                    ></v-text-field>
                  </v-col>
                  <v-col md="6" sm="12" class="px-5">
                    <v-text-field
                        v-model="formulario.rfc"
                        label="RFC *"
                        :rules="[rules.required]"
                        placeholder="Requerido"
                        required
                    ></v-text-field>
                  </v-col>
                  <v-col md="6" sm="12" class="px-5">
                    <v-text-field
                        v-model="formulario.nombres"
                        label="Nombres *"
                        :rules="[rules.required]"
                        placeholder="Requerido"
                        required
                    ></v-text-field>
                  </v-col>
                  <v-col md="6" sm="12" class="px-5">
                    <v-text-field
                        v-model="formulario.apellido_paterno"
                        label="Apellido Paterno*"
                        :rules="[rules.required]"
                        placeholder="Requerido"
                        required
                    ></v-text-field>
                  </v-col>
                  <v-col md="6" sm="12" class="px-5">
                    <v-text-field
                        v-model="formulario.apellido_materno"
                        label="Apellido Materno"
                        placeholder="Opcional"
                        required
                    ></v-text-field>
                  </v-col>
                  <v-col md="6" sm="12" class="px-5">
                    <v-text-field
                        v-model="formulario.email"
                        label="E-mail *"
                        :rules="[rules.required]"
                        placeholder="Requerido"
                        required
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="6" class="px-5">
                    <v-text-field
                        v-model="formulario.telefono"
                        label="Teléfono"
                        placeholder="Opcional"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="6" lg="3" class="px-5">
                    <v-select
                        v-model="formulario.genero"
                        :items="genero"
                        label="Género *"
                        :rules="[rules.required]"
                        placeholder="Requerido"
                        required
                    ></v-select>
                  </v-col>
                  <v-col cols="12" lg="3" md="6" class="px-5">
                    <v-menu
                        ref="menu"
                        v-model="menu"
                        min-width="290"
                        :close-on-content-click="false"
                        transition="scale-transition"
                        offset-y
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                            v-model="formulario.fecha_nacimiento"
                            label="Fecha Nacimiento *"
                            prepend-icon="mdi-calendar"
                            readonly
                            v-bind="attrs"
                            :rules="[rules.required]"
                            placeholder="Requerido"
                            v-on="on"
                        ></v-text-field>
                      </template>
                      <v-date-picker
                          v-model="formulario.fecha_nacimiento"
                          no-title
                          @input="menu = false"
                          locale="es"
                      >
                      </v-date-picker>
                    </v-menu>
                  </v-col>
                  <!-- Estado Civil -->
                  <v-col cols="12" md="6" lg="3" class="px-5">
                    <v-select
                        v-model="formulario.estado_civil_id"
                        :items="cat_estado_civil"
                        item-value="id"
                        item-text="nombre"
                        label="Estado Civil *"
                        :rules="[rules.required]"
                        placeholder="Requerido"
                        required
                    ></v-select>
                  </v-col>
                  <!-- Nivel Academico -->
                  <v-col cols="12" md="6" lg="3" class="px-5">
                    <v-select
                        v-model="formulario.nivel_academico_id"
                        :items="cat_nivel_academico"
                        item-value="id"
                        item-text="nombre"
                        label="Nivel Académico *"
                        :rules="[rules.required]"
                        placeholder="Requerido"
                        required
                    ></v-select>
                  </v-col>
                  <!-- Pais de Nacimiento -->
                  <v-col cols="12" md="6" lg="3" class="px-5">
                    <v-select
                        v-model="formulario.pais_id"
                        :items="cat_paises"
                        item-value="id"
                        item-text="nombre"
                        label="Pais de Nacimiento *"
                        :rules="[rules.required]"
                        @change="isExtranjero"
                        placeholder="Requerido"
                        required
                    ></v-select>
                  </v-col>
                  <!-- Entidad -->
                  <v-col v-if="!extranjero" cols="12" md="6" lg="3" class="px-5">
                    <v-select
                        v-model="formulario.entidad_id"
                        :items="cat_entidades"
                        item-value="id"
                        @change="isForaneo"
                        item-text="nombre"
                        label="Entidad de Nacimiento "
                        placeholder="Opcional"
                    ></v-select>
                  </v-col>
                  <!-- Municipio -->
                  <v-col v-if="foraneo" cols="12" md="6" lg="3" class="px-5">
                    <v-select
                        v-model="formulario.municipio_id"
                        :items="cat_municipios"
                        item-value="id"
                        item-text="nombre"
                        label="Municipio de Nacimiento "
                        placeholder="Opcional"
                    ></v-select>
                  </v-col>
                  <!-- Dirección -->
                  <v-col v-if="foraneo" cols="10" md="6" lg="8" class="px-5">
                    <v-autocomplete
                        v-model="formulario.direccion_id"
                        :items="cat_direcciones"
                        label="Domicilio Actual "
                        item-text="direccion_label"
                        item-value="id"
                        :rules="[rules.required]"
                        placeholder="Opcional"
                    ></v-autocomplete>
                  </v-col>
                </v-row>
              </v-card>
            </v-container>
          </v-col>
        </v-row>
      </v-form>
      <v-card-actions>
        <BtnBackComponent/>
        <v-spacer></v-spacer>

        <v-btn
            color="blue lighten-1"
            :loading="loading"
            dark
            rounded
            @click="registrar"
            class="ma-2 white--text"
        >
          GUARDAR
          <v-icon right dark>mdi-content-save</v-icon>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-container>
</template>

<script>
import {mapState, mapActions} from 'vuex';
import BtnBackComponent from '../../components/utils/BtnBackComponent';

export default {
  name:'NuevaPersona',
  components: {
    BtnBackComponent
  },
  data() {
    return {
      genero: ['No especificado', 'Hombre', 'Mujer'],
      cat_si_no: ['Si', 'No'],
      rules: {
        required: v => !!v || 'Campo requerido *',
      },
      loading: false,
      menu: false,
      foraneo: false,
      extranjero: true,
      formulario: {
        curp: 'SABA950504HQRLLN09',
        rfc: 'SABA950504R69',
        nombres: null,
        apellido_paterno: null,
        apellido_materno: null,
        email: null,
        genero: "No especificado",
        telefono: null,
        fecha_nacimiento: null,
        pais_id: null,
        entidad_id: null,
        municipio_id: null,
        estado_civil_id: null,
        nivel_academico_id: null,
        direccion_id: null
      },
    };
  },
  beforeMount() {
    if (this.cat_paises.length === 0) {
      this.getPaises();
    }
    if (this.cat_nivel_academico.length === 0) {
      this.getNivelAcademico();
    }
    if (this.cat_estado_civil.length === 0) {
      this.getEstadoCivil();
    }
    if (this.cat_entidades.length === 0) {
      this.getEntidades();
    }
    if (this.cat_municipios.length === 0) {
      this.getMunicipios();
    }
    if (this.cat_direcciones.length === 0) {
      this.getListaDirecciones();
    }
  },
  computed: {
    ...mapState(['color', 'cat_paises', 'cat_direcciones', 'cat_entidades', 'cat_municipios', 'cat_nivel_academico', 'cat_estado_civil']),

  },
  methods: {
    ...mapActions(['getPaises', 'getNivelAcademico', 'getEstadoCivil', "getEntidades", "getMunicipios", "getListaDirecciones","getRegistrarPersona"]),
    isForaneo() {
      this.cat_entidades.map(entidad => {
        if (entidad.id === Number(this.formulario.entidad_id)) {
          this.foraneo = (entidad.codigo === '23') ? true : false;
        }
      })
    },
    isExtranjero() {
      this.cat_paises.map(pais => {
        if (pais.id === Number(this.formulario.pais_id)) {
          this.extranjero = (pais.codigo === '123') ? false : true;
        }
      })
    },
    limpiarFormulario() {
      for (const item in this.formulario) {
        this.formulario[item] = null;
      }
      this.$refs.formulario.resetValidation();
    },
    async registrar() {
      if (this.$refs.formulario.validate()) {
        this.loading = true;
        const registro = await this.getRegistrarPersona(this.formulario);
        this.loading = !registro;
        this.limpiarFormulario();
        setTimeout(() => {
          this.$router.go(-1);
        }, 1500);
      }
    },
  }
};
</script>
