<template>
    <v-container>
        <v-card class="mb-5" flat outlined>
            <v-card-title :class="color" class="white--text">
                <span class="headline">NUEVO USUARIO</span>
            </v-card-title>
            <v-form ref="formulario">
                <v-row justify="start" class="mt-0 pt-0">
                    <v-col cols="12">
                        <v-container fluid>
                            <v-card flat>
                                <v-row>
                                    <v-col cols="12" class="px-5">
                                        <span class="blue--text font-weight-bold headline">Datos del Usuario</span>
                                        <v-divider class="blue darken-2"></v-divider>
                                    </v-col>
                                    <v-col md="4" sm="12" class="px-5">
                                        <v-text-field
                                            v-model="formulario.email"
                                            label="Usuario (e-mail) *"
                                            :rules="[rules.required]"
                                            placeholder="Requerido"
                                            required
                                        ></v-text-field>
                                    </v-col>
                                    <v-col md="4" sm="12" class="px-5">
                                        <v-text-field
                                            v-model="formulario.password"
                                            label="Password *"
                                            :rules="[rules.required]"
                                            placeholder="Requerido"
                                            required
                                        ></v-text-field>
                                    </v-col>
                                    <v-col md="4" sm="12" class="px-5">
                                        <v-text-field
                                            v-model="formulario.password_confirmation"
                                            label="Confirmar Password *"
                                            :rules="[rules.required]"
                                            placeholder="Requerido"
                                            required
                                        ></v-text-field>
                                    </v-col>

                                    <v-col md="4" sm="12" class="px-5">
                                        <v-text-field
                                            v-model="formulario.unidad"
                                            label="Unidad"
                                            placeholder="Opcional"
                                            required
                                        ></v-text-field>
                                    </v-col>
                                    <v-col md="4" sm="12" class="px-5">
                                        <v-text-field
                                            v-model="formulario.cargo"
                                            label="Cargo"
                                            placeholder="Opcional"
                                            required
                                        ></v-text-field>
                                    </v-col>
                                    <v-col md="4" sm="12" class="px-5">
                                        <v-text-field
                                            v-model="formulario.adscripcion"
                                            label="Adscripción"
                                            placeholder="Opcional"
                                            required
                                        ></v-text-field>
                                    </v-col>
                                    <v-col cols="12" md="3" class="px-5">
                                        <v-select
                                            v-model="formulario.tipo"
                                            :items="cat_tipo"
                                            label="Tipo *"
                                            :rules="[rules.required]"
                                            placeholder="Requerido"
                                            required
                                        ></v-select>
                                    </v-col>
                                    <v-col cols="12" md="3" class="px-5">
                                        <v-select
                                            v-model="formulario.activo"
                                            :items="cat_si_no"
                                            label="Activo *"
                                            :rules="[rules.required]"
                                            placeholder="Requerido"
                                            required
                                        ></v-select>
                                    </v-col>
                                    <v-col cols="12" md="3" class="px-5">
                                        <v-autocomplete
                                            v-model="formulario.persona_id"
                                            :items="cat_personas"
                                            item-value="id"
                                            item-text="nombre_completo_b"
                                            label="Persona *"
                                            :rules="[rules.required]"
                                            placeholder="Requerido"
                                            required
                                        ></v-autocomplete>
                                    </v-col>
                                </v-row>
                            </v-card>
                        </v-container>
                    </v-col>
                </v-row>
            </v-form>
            <v-card-actions>
                <BtnBackComponent />
                <v-spacer></v-spacer>

                <v-btn
                    color="blue lighten-1"
                    :loading="loading"
                    dark
                    rounded
                    @click="registrar"
                    class="ma-2 white--text"
                >
                    GUARDAR
                    <v-icon right dark>mdi-content-save</v-icon>
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-container>
</template>

<script>
    import { mapState, mapActions } from 'vuex';
    import BtnBackComponent from '../../components/utils/BtnBackComponent';

    export default {
        name:'NuevoUsuario',
        components: {
            BtnBackComponent,
        },
        data() {
            return {
                genero: ['No especificado', 'Hombre', 'Mujer'],
                cat_si_no: ['Si', 'No'],
                cat_tipo: ['Campo', 'Oficina', 'Administrador'],
                rules: {
                    required: (v) => !!v || 'Campo requerido *',
                },
                loading: false,
                formulario: {
                    email: null,
                    password: null,
                    password_confirmation: null,
                    unidad: null,
                    cargo: null,
                    adscripcion: null,
                    tipo: null,
                    activo: null,
                    persona_id: null,
                },
                config: {
                    color: null,
                    message: null,
                    show: false,
                },
                responseData: null,
            };
        },
        computed: {
            ...mapState(['color', 'cat_personas']),
        },
        beforeMount() {
            if (this.cat_personas.length === 0) {
                this.getListaPersonas();
            }
        },
        methods: {
            ...mapActions(['getListaPersonas', 'getRegistrarUsuario']),
            limpiarFormulario() {
                for (const item in this.Formulario) {
                    this.Formulario[item] = null;
                }
                this.$refs.formulario.resetValidation();
            },
            async registrar() {
                if (this.$refs.formulario.validate()) {
                    this.loading = true;
                    const registro = await this.getRegistrarUsuario(this.formulario);
                    this.loading = !registro;
                    this.limpiarFormulario();
                    setTimeout(() => {
                        this.$router.go(-1);
                    }, 1500);
                }
            },
        },
    };
</script>
