<template>
    <v-container fluid>
        <v-card flat outlined elevation="5">
            <v-card-title :class="color" class="white--text">
                <span class="headline">LISTA DE PERSONAS</span>
                <v-spacer></v-spacer>
                <v-text-field
                    dark
                    v-model="buscar"
                    append-icon="mdi-magnify"
                    label="BUSCAR PERSONA"
                    single-line
                    hide-details
                    class="pt-0 white--text px-5"
                ></v-text-field>
                <!-- <v-spacer></v-spacer> -->
                <v-btn rounded color="blue darken-1" dark to="/panel/configuracion/nueva-persona"
                    >NUEVA PERSONA
                    <v-icon>mdi-chevron-right</v-icon>
                </v-btn>
            </v-card-title>
            <v-divider></v-divider>

            <v-card-text>
                <v-data-table
                    class="ma-2 pa-0"
                    :items-per-page="12"
                    hide-default-footer
                    no-data-text="No hay registros"
                    no-results-text="No se encontraron registros"
                    :page.sync="pagina"
                    @page-count="pageCount = $event"
                    :headers="headers"
                    :items="cat_personas"
                    :search="buscar"
                    show-expand
                    :expanded.sync="expanded"
                    :single-expand="singleExpand"
                >
                    <!-- opciones -->
                    <template v-slot:item.action="{ item }">
                        <v-tooltip bottom>
                            <template v-slot:activator="{ on }">
                                <v-btn fab dark small text>
                                    <v-icon v-on="on" small color="blue">mdi-pencil</v-icon>
                                </v-btn>
                            </template>
                            <span>Modificar</span>
                        </v-tooltip>
                        <v-tooltip bottom>
                            <template v-slot:activator="{ on }">
                                <v-btn fab="" dark small text>
                                    <v-icon v-on="on" small color="red">mdi-account-off</v-icon>
                                </v-btn>
                            </template>
                            <span>Desactivar</span>
                        </v-tooltip>
                    </template>

                    <!-- codigo -->
                    <template v-slot:item.nombre_completo_b="{ item }">
                        <span class="font-weight-bold">
                            {{ item.nombre_completo_b }}</span
                        >
                    </template>

                    <!-- expanded
                    <template v-slot:expanded-item="{ headers, item }">
                        <td :colspan="headers.length" >
                            <v-chip class="subtitle-1 ml-5 mr-5">
                                NOMBRE: {{ item.persona.nombres + ' ' + item.persona.apellido_paterno + ' ' + item.persona.apellido_materno }}
                            </v-chip>
                            <v-chip class="subtitle-1 mr-5">
                                TELÉFONO: {{ item.persona.telefono }}
                            </v-chip>
                            <v-chip class="subtitle-1">
                                GÉNERO: {{ item.persona.genero }}
                            </v-chip>
                        </td>
                    </template> -->
                </v-data-table>
            </v-card-text>
        </v-card>
    </v-container>
</template>

<script>
    import { mapState, mapActions } from 'vuex';
    export default {
        name: 'Personas',
        data() {
            return {
                buscar: '',
                pagina: 1,
                pageCount: 0,
                expanded: [],
                singleExpand: false,
                headers: [
                    {
                        text: 'NOMBRE',
                        align: 'left',
                        sortable: false,
                        value: 'nombre_completo_b',
                        width: '20%',
                    },
                    {
                        text: 'E-MAIL PERSONAL',
                        align: 'left',
                        sortable: false,
                        value: 'email',
                        width: '20%',
                    },
                    {
                        text: 'GÉNERO',
                        align: 'center',
                        sortable: false,
                        value: 'genero',
                        width: '10%',
                    },
                    {
                        text: 'TELÉFONO',
                        align: 'center',
                        sortable: false,
                        value: 'telefono',
                        width: '10%',
                    },
                    {
                        text: 'OPCIONES',
                        value: 'action',
                        sortable: false,
                        align: 'right',
                        width: '10%',
                    },
                    { text: '', value: 'data-table-expand', width: '5%' },
                ],
            };
        },
        computed: {
            ...mapState(['color', 'cat_personas']),
        },
        methods: {
            ...mapActions(['getListaPersonas']),
        },
        beforeMount() {
            if (this.cat_personas.length === 0) {
                this.getListaPersonas();
            }
        },
    };
</script>

<style lang="scss" scoped></style>
