<template>
    <v-main>
        <router-view :key="$route.path"></router-view>
    </v-main>
</template>

<script>
    export default {
        name: 'Configuracion',
    };
</script>

<style lang="scss" scoped></style>
