<template>
    <v-container>
        <span class="subtitle-1">Dashboard</span>
    </v-container>
</template>

<script>
    export default {
        name:'Dashboard'
    }
</script>

<style lang="scss" scoped>

</style>