<template>
    <v-container fluid>
        <v-card flat outlined elevation="5">
            <v-card-title :class="color" class="white--text">
                <span class="headline">LISTA DE EVENTOS</span>
                <v-spacer></v-spacer>
                <v-text-field
                    dark
                    v-model="buscar"
                    append-icon="mdi-magnify"
                    label="BUSCAR EVENTO"
                    single-line
                    hide-details
                    class="pt-0 white--text px-5"
                ></v-text-field>
                <!-- <v-spacer></v-spacer> -->
                <v-btn rounded color="blue darken-1" dark to="/panel/eventos/nuevo"
                    >NUEVO EVENTO
                    <v-icon>mdi-chevron-right</v-icon>
                </v-btn>
            </v-card-title>
            <v-divider></v-divider>
            <!-- <v-row dense no-gutters class="mb-5 pa-2">
            </v-row> -->
            <v-card-text>
                <v-data-table
                    class="ma-2 pa-0"
                    :items-per-page="15"
                    hide-default-footer
                    no-data-text="No hay registros"
                    no-results-text="No se encontraron registros"
                    :page.sync="pagina"
                    @page-count="pageCount = $event"
                    :headers="headers"
                    :items="cat_eventos"
                    :search="buscar"
                >
                    <!-- email -->
                    <template v-slot:item.email="{ item }">
                        <span class="font-weight-bold"> {{ item.email }}</span>
                    </template>

                    <!-- opciones -->
                    <template v-slot:item.action="{ item }">
                        <v-tooltip bottom>
                            <template v-slot:activator="{ on }">
                                <v-btn fab dark small text>
                                    <v-icon v-on="on" small color="blue">mdi-pencil</v-icon>
                                </v-btn>
                            </template>
                            <span>Modificar</span>
                        </v-tooltip>
                        <v-tooltip bottom>
                            <template v-slot:activator="{ on }">
                                <v-btn fab="" dark small text>
                                    <v-icon v-on="on" small color="red">mdi-account-off</v-icon>
                                </v-btn>
                            </template>
                            <span>Desactivar</span>
                        </v-tooltip>
                    </template>

                    <!-- expanded -->
                    <template v-slot:expanded-item="{ headers, item }">
                        <td :colspan="headers.length">
                            <v-chip class="subtitle-1 ml-5 mr-5">
                                NOMBRE:
                                {{
                                    item.persona.nombre_completo_b
                                }}
                            </v-chip>
                            <v-chip class="subtitle-1 mr-5"> TELÉFONO: {{ item.persona.telefono }} </v-chip>
                            <v-chip class="subtitle-1"> GÉNERO: {{ item.persona.genero }} </v-chip>
                        </td>
                    </template>
                </v-data-table>
                <div class="text-center pt-2">
                    <v-pagination
                        v-model="pagina"
                        :length="pageCount"
                        :total-visible="10"
                    ></v-pagination>
                </div>
            </v-card-text>
        </v-card>
    </v-container>
</template>

<script>
    import { mapState, mapActions } from 'vuex';
    export default {
        name: 'Eventos',
        data() {
            return {
                buscar: '',
                pagina: 1,
                pageCount: 0,
                expanded: [],
                singleExpand: false,
                headers: [
                    {
                        text: 'FOLIO',
                        align: 'center',
                        sortable: false,
                        value: 'email',
                        width: '5%',
                    },
                    {
                        text: 'VICTIMA',
                        align: 'center',
                        sortable: false,
                        value: 'unidad',
                        width: '15%',
                    },
                    {
                        text: 'AGRESOR',
                        align: 'center',
                        sortable: false,
                        value: 'cargo',
                        width: '15%',
                    },
                    {
                        text: 'FECHA',
                        align: 'center',
                        sortable: false,
                        value: 'adscripcion',
                        width: '5%',
                    },
                    {
                        text: 'HORA',
                        align: 'center',
                        sortable: false,
                        value: 'adscripcion',
                        width: '5%',
                    },
                    {
                        text: 'TIPO',
                        align: 'center',
                        sortable: false,
                        value: 'tipo',
                        width: '10%',
                    },
                    {
                        text: 'OPCIONES',
                        align: 'right',
                        value: 'action',
                        sortable: false,
                        width: '5%',
                    },
                ],
            };
        },
        computed: {
            ...mapState(['color', 'cat_eventos']),
        },
        methods: {
            ...mapActions(['getListaEventos']),
        },
        beforeMount() {
            if (this.cat_eventos.length === 0) {
                this.getListaEventos();
            }
        },
    };
</script>

<style lang="scss" scoped></style>
