<template>
    <v-btn :color="color" dark rounded @click.native="back">
        <v-icon>mdi-chevron-left</v-icon> {{ text }}
    </v-btn>
</template>

<script>
export default {
    props: {
        color: {
            type: String,
            required: false,
            default: "red lighten-1"
        },
        text: {
            type: String,
            required: false,
            default: 'Regresar'
        }
    },
    data(){
        return {
            //
        }
    },
    methods: {
        back(){
            this.$router.go(-1);
        }
    }
};
</script>
