import { mapActions } from 'vuex';
<template>
    <v-row justify="center">
        <v-dialog v-model="dialog" max-width="290" hide-overlay persistent transition="slide-x-reverse-transition">
            <template v-slot:activator="{ on }">
                <v-btn dark block rounded v-on="on" color="blue lighten-1">
                    CERRAR SESIÓN <v-icon size="18" class="ml-4">mdi-location-exit</v-icon>
                </v-btn>
            </template>
            <v-card>
                <v-card-title class="headline text-center mb-6">
                    ¿Desea cerrar sesión?
                </v-card-title>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="success" :loading="loading" @click="cerrarSesion()">ACEPTAR</v-btn>
                    <v-btn color="error" @click="dialog = false">CANCELAR</v-btn>
                    <v-spacer></v-spacer>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>
</template>

<script>
    import { mapActions } from 'vuex';
    export default {
        data() {
            return {
                loading: false,
                dialog: false,
            };
        },
        methods: {
            ...mapActions(['getCerrarSesion']),
            async cerrarSesion(){
                this.loading = true;
                const cerro = await this.getCerrarSesion();
                if (cerro) {
                    this.dialog = false;
                    location.reload()
                } else {
                    this.dialog = false;
                }
            }
        },
    };
</script>
