<template>
    <v-app-bar app :color="color" dense dark :clipped-left="true">
        <div class="d-flex align-center">
            <span class="headline">SYSGEAVI</span>
        </div>

        <v-spacer></v-spacer>
    </v-app-bar>
</template>

<script>
    export default {
        props: {
            color: {
                type: String,
                requiered: true,
            },
        },
    };
</script>

<style lang="scss" scoped></style>
