<template>
    <v-navigation-drawer
        :value="true"
        :color="color"
        :expand-on-hover="expandOnHover"
        :mini-variant="miniVariant"
        :right="false"
        app
        dark
        clipped
        permanent
    >
        <v-list dense nav class="py-0">
            <v-list-item two-line :class="miniVariant && 'px-0'" to="/administrador/mi-perfil">
                <v-list-item-avatar>
                    <img src="../../assets/avatar.jpg" />
                </v-list-item-avatar>

                <v-list-item-content>
                    <v-list-item-title class="title">
                        {{usuario.persona.nombres}}
                    </v-list-item-title>
                    <v-list-item-subtitle>{{usuario.tipo}}</v-list-item-subtitle>
                </v-list-item-content>
            </v-list-item>

            <v-divider></v-divider>

            <v-list-item link to="/panel/dashboard">
                <v-list-item-icon>
                    <v-icon>mdi-collage</v-icon>
                </v-list-item-icon>
                <v-list-item-title class="subtitle-1">Dashboard</v-list-item-title>
            </v-list-item>
            <v-list-item link to="/panel/eventos">
                <v-list-item-icon>
                    <v-icon>mdi-clipboard-text</v-icon>
                </v-list-item-icon>
                <v-list-item-title class="subtitle-1">Eventos</v-list-item-title>
            </v-list-item>
            <v-list-item link to="/panel/reportes">
                <v-list-item-icon>
                    <v-icon>mdi-clipboard-pulse</v-icon>
                </v-list-item-icon>
                <v-list-item-title class="subtitle-1">Reportes</v-list-item-title>
            </v-list-item>
        </v-list>

        <!-- catalogos -->
        <v-list-group prepend-icon="mdi-cog" color="white" no-action>
            <template v-slot:activator>
                <v-list-item-title>Configuración</v-list-item-title>
            </template>
            <v-list-item color="white" v-for="(item, i) in catalogos" :key="i" link :to="item.path">
                <v-list-item-title v-text="item.title"></v-list-item-title>
                <v-list-item-icon v-if="item.icon.length">
                    <v-icon v-text="item.icon"></v-icon>
                </v-list-item-icon>
            </v-list-item>
        </v-list-group>

        <template v-slot:append>
            <div class="pa-4 mb-4">
                <LogOutComponent />
            </div>
        </template>
    </v-navigation-drawer>
</template>

<script>
    import LogOutComponent from '../utils/LogOutComponent';
    import { mapState } from 'vuex';
    export default {
        props: {
            color: {
                type: String,
                requiered: true,
            },
        },
        components: {
            LogOutComponent,
        },
        data() {
            return {
                miniVariant: false,
                expandOnHover: false,
                catalogos: [
                    {
                        path: '/panel/configuracion/usuarios',
                        title: 'Usuarios',
                        icon: 'mdi-account-network',
                    },
                    {
                        path: '/panel/configuracion/personas',
                        title: 'Personas',
                        icon: 'mdi-account',
                    },
                    {
                        path: '/panel/configuracion/direcciones',
                        title: 'Direcciones',
                        icon: 'mdi-city-variant',
                    },
                ],
            };
        },
        computed: {
            ...mapState(['usuario'])
        },
    };
</script>

<style lang="scss" scoped></style>
