<template>
  <v-snackbar
      v-model="config.show"
      :color="config.color"
      right="right"
      :timeout="1000"
      top="top"
  >
    {{ config.message }}
    <v-btn dark text @click.prevent="config.show = false">Cerrar</v-btn>
  </v-snackbar>
</template>

<script>
import {mapState} from 'vuex';
export default {
  name:'SnackBar',
  computed: {
    ...mapState(['config'])
  },
};
</script>
